<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mudar Senha - Clínica Tenguam</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1><a href="/index" id="voltaMenu">Mudar Senha - Clínica Tenguam</a></h1>
  </header>

  <section class="content">
    <form th:action="@{/salvarNovaSenha}" method="post">
      <input type="hidden" th:name="email" th:value="${email}"/>
      <label for="novaSenha">Nova Senha:</label><br>
      <input type="password" id="novaSenha" th:name="novaSenha" required><br><br>
      <button type="submit">Salvar Nova Senha</button>
    </form>

    <div th:if="${erro}" style="color: red;" th:text="${erro}"></div>
  </section>

  <footer>
    <p>Clínica Tenguam © 2025</p>
  </footer>
</body>
</html>
